.bg{
    width:100%;
    height:768px;
    filter:alpha(opacity=100 finishopacity=50 style=2 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr='#3757fa',endcolorstr='#0c1436',gradientType=0);
    -ms-filter:alpha(opacity=100 finishopacity=50 style=2 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr='#3757fa',endcolorstr='#0c1436',gradientType=0);/*IE8*/	
    background:#3757fa; /* 一些不支持背景渐变的浏览器 */  
     background: -webkit-radial-gradient(top, #3757fa, #0c1436);
     background: -moz-radial-gradient(top, #3757fa, #0c1436);
     background: -ms-radial-gradient(top, #3757fa, #0c1436);
     background: radial-gradient(top, #3757fa, #0c1436); 
     font:normal 13px Verdana;
}
.m{width: 1203px;margin: 0 auto;}
.header,.sub-header,.content{ width: 1183px; margin:0 auto;}
.header{}
.head-nav{ position:absolute; top:0px; background-image:url("/images/top_line.jpg"); background-repeat:repeat-y; padding:10px 0px 10px 0px;}
.head-nav>ul>li{height: 39px;float: left;}

.head-nav ul .list{
line-height:39px;
text-align:center;
font-weight:normal;
z-index:40;
width:112px;
height:auto;
color:#336601;
cursor:hand;
overflow:hidden;
position:absolute;
background-image:url("/images/menu_bg.jpg");
background-repeat:repeat-y;
display:none;
border:1px solid gray;
}
.head-nav ul .list a
{
    padding:5px;
    font: normal 14px Verdana;
    font-weight:bold;
    color:#510D0C
    }
.head-nav ul .list a:hover
{
    text-decoration:none;
 color:#BF4B40   
    }    
.head-nav>ul>li>div>a{
height:39px;
font-size:medium;
}
.sub-header{}
.content{width: 1000px;margin: 0 auto;}

.menu{width:220px; }
.menu .submenu{}
.menu .submenu .menu1{background-image: url("/images/menu1.png"); background-repeat: no-repeat; z-index: 9; margin-top: -5px;}
.menu .submenu .menu1 .pic1{ margin: 10px 10px;}
.menu .submenu .menu1 .pic2{ margin: 2px 18px;}
.menu .submenu .menu1 .pic3{ margin: 0px 18px;}


.menu .submenu .menu2{background-image: url("/images/menu2.png"); background-repeat: no-repeat; z-index: 9;}
.menu .submenu .menu2 .pic1{ margin: 15px 15px 0px 15px;}
.menu .submenu .menu2 .contact-txt{font:normal 12px Verdana; margin: 5px 5px; padding:12px 5px;}
.menu .submenu .menu2 .contact-txt div{margin:5px;}

.menu .friendlink{background-color: #2e3454;margin-right: 15px; height: 200px}
.menu .friendlink div{margin: 15px 25px; border-bottom:1px dotted gray}
.menu .friendlink div a{ color:White;font-family: Arial, Helvetica, sans-serif;}
.menu .logo{ height: 189px}
.menu .menu-list{margin: 0px;padding: 0px}
.menu .menu-list .menu-img{ width:220px}
.menu .menu-list ul{margin: 0px;padding: 0px}
.menu .menu-list ul li{margin: 0px;padding: 0px; height: 24px;}
.menu .menu-title{  }


.main{width:775px; margin-left:5px}
.main .News{width: 430px; height: 252px;background-color: white;margin-top: 10px;}
.main .News table{width: 430px; }
.main .News table th{ border-bottom:3px  gray groove;height:40px;}
.main .News table th img{margin-left:10px}
.main .News table td {border-bottom:2px gray dotted;height:30px;vertical-align:bottom;font:normal 13px Verdana;padding-left: 10px}

.main .NewsMore table{width: 760px; }
.main .NewsMore table th{ border-bottom:3px  gray groove;height:40px;}
.main .NewsMore table th img{margin-left:10px}
.main .NewsMore table td {border-bottom:2px gray dotted;height:30px;vertical-align:bottom;font:normal 13px Verdana;padding-left: 10px}

.main .Video{width: 335px;height: 252px; background-color: black; margin:10px 0px 0px 10px}
.main .Video embed{width: 335px;height: 227px;}

.main .type-head{ margin:5px; background-color: Silver;}
.main .type-head .type-txt{float:left; font: normal 13px Verdana; font-weight:bold;}
.main .type-head ul{float:left;margin-left:20px}
.main .type-head li{float:left; margin:0px 5px;margin-left:15px;font: normal 12px Verdana;}
.main .type-head .address-txt{}
.main .product{ width:100%; margin-left:10px}
.main .product .product-item{float:left; margin:10px;}
.main .product .product-item div{font: normal 13px Verdana; color:Gray; text-align:center;}
.main .product .product-empty{margin:20px; background-color:Silver; border:1px solid Silver; }

.main .txt-box{float:left; width:540px}
.main .pic-box{float:left; width:230px}
.main .contact-way{float:left;width:773px; margin-top:20px ; margin-bottom:40px;}
.main .contact-way .contact-txt{ margin-left:140px;font: normal 13px Verdana}
.main .pic-box .pic-item{ margin:10px 10px 10px 20px;}
.txt-box .editor-label{float:left;margin-top:10px;font: normal 13px Verdana}
.txt-box .editor-field{margin-top:10px;}
.txt-box .editor-field input{border:1px solid silver;}
.txt-box .editor-field .field-validation-error{display:block; margin-left:60px; color:Red;font: normal 13px Verdana}
.txt-box .editor-field textarea{border:1px solid silver; overflow:auto;}
.contact-base{float:left;margin-left:30px}
.contact-detail{float:left;margin-left:10px;}


.txt{font: normal 13px Verdana; margin:20px}
.txt-foot{font: normal 12px Verdana; margin:20px; float:right;}
/*首页轮状图片*/
.content_show{
	width:775px;
	height:400px;
	border:solid 1px #dcdfe2;
}
.content_show .wen_play{
	width:775px;
	height:400px;
	position:relative;
}
.content_show .wen_play_body{
	width:775px;
	height:400px;
	position:relative;
	overflow:hidden;
}
.wen_play_box{
	position:absolute;
	z-index:10;
}
.content_show .wen_play_box .play_list{
	width:775px;
	height:400px;
	float:left;
	display:inline;
	color:#fff;
	position:relative;
	top:0;
	left:0;
}
.content_show .wen_page{
	position:absolute;
	z-index:11;
	bottom:0;
	right:0;
}
.content_show .wen_page span{
	display:inline-block;
	height:30px;
	width:30px;
	text-align:center;
	line-height:30px;
	cursor:pointer;
	color:#fff;
	border-right:solid 1px #f26522;
	
}
.content_show .wen_page span.current{
	background-color:#f26522;
	font-weight:bold;	
}
.content_show .play_list .show_txt{
	position:absolute;
	z-index:11;
	bottom:0;
	left:0;
	width:775px;
	height:30px;
	line-height:30px;
	background-color:rgba(0,0,0,0.4);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
}
.content_show .play_list p{
	margin-left:10px;
}


.foot{width: 1000px;margin: 0 auto;}
.foot .foot-bg{background-image: url("/images/foot_bg.png"); background-repeat: repeat-x; height: 60px; }
.foot .foot-bg .companyname{margin:10px 0px 5px 220px;}
.foot .foot-bg .companyaddress{margin: 20px;font:normal 12px Verdana;color: #7f7f7f;}

.page_list{ text-align:center;}
#ajax-txtbox{ height:500px; overflow:hidden; overflow-y:auto;}
#ajax-txtbox img{ height:490px;}